<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="staubli_tx40">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="tool" default="none" />
    <xacro:arg name="namespace" default="" />

    <!-- Robot URDF -->
    <xacro:include filename="$(find staubli_tx40_description)/urdf/tx40.xacro" />

    <!-- ros2_control -->
    <xacro:include filename="staubli_tx40.ros2_control.xacro" />
    <xacro:staubli_tx40_ros2_control
        name="StaubliTX40FakeSystem"
        initial_positions_file="$(arg initial_positions_file)"/>

    <!-- Tool dispatcher: tool package folders and macros use the same name. -->
    <xacro:unless value="${'$(arg tool)' == 'none'}">
        <xacro:include filename="$(find tool)/$(arg tool)/$(arg tool).xacro" />
        <xacro:call macro="$(arg tool)" namespace="$(arg namespace)" parent_link="$(arg namespace)tool0" />
    </xacro:unless>
</robot>
