<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="staubli_tx2_60l">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    
    <xacro:arg name="model" default="tx2_60l"/>
    <xacro:arg name="sim" default="true"/>
    <xacro:arg name="tool" default="none"/>
    <xacro:arg name="namespace" default=""/>
    <xacro:arg name="robot_description_file" default=""/>

    <xacro:include filename="$(find staubli_tx2_60l_description)/urdf/tx2_60l.xacro" />

    <xacro:include filename="staubli_tx2_60l.ros2_control.xacro" />

    <xacro:staubli_tx2_60l_ros2_control 
        name="StaubliTX260lSystem" 
        initial_positions_file="$(arg initial_positions_file)" 
        sim="$(arg sim)"/>

    <xacro:if value="$(arg sim)">
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <parameters>$(find staubli_tx2_60l_moveit_config)/config/ros2_controllers.yaml</parameters>
                <robot_param>robot_description</robot_param>
                <robot_param_node>robot_state_publisher</robot_param_node>
                <parameters>
                  robot_description: "$(arg robot_description_file)"
                </parameters>
            </plugin>
        </gazebo>
    </xacro:if>

</robot>