<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="staubli_tx2_60l">
    <xacro:arg name="initial_positions_file" default="initial_positions.yaml" />
    <xacro:arg name="sim" default="true" />

    <xacro:include filename="$(find staubli_tx2_60l_description)/urdf/tx2_60l.xacro" />

    <xacro:include filename="staubli_tx2_60l.ros2_control.xacro" />

    <xacro:staubli_tx2_60l_ros2_control name="StaubliTX260lSystem" initial_positions_file="$(arg initial_positions_file)" sim="$(arg sim)"/>

    <xacro:if value="$(arg sim)">
        <gazebo>
            <plugin filename="libgazebo_ros2_control.so" name="gazebo_ros2_control">
                <parameters>$(find staubli_tx2_60l_moveit_config)/config/ros2_controllers.yaml</parameters>
                <robotParam>robot_description</robotParam>
                <robotParamNode>robot_state_publisher</robotParamNode>
            </plugin>
        </gazebo>
    </xacro:if>
</robot>