<?xml version="1.0" encoding="UTF-8"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:macro name="denso_robot_srdf" params="name namespace tool">
    
    <group name="arm">
      <xacro:if value="${tool == 'none'}">
        <chain base_link="$(arg namespace)base_link" tip_link="$(arg namespace)J6"/>
      </xacro:if>

      <xacro:if value="${tool != 'none'}">
        <chain base_link="$(arg namespace)base_link" tip_link="$(arg namespace)tool_link"/>
      </xacro:if>
    </group>

    <virtual_joint name="${namespace}fixed_base" type="fixed" parent_frame="world" child_link="${namespace}base_link" />
    
    <disable_collisions link1="$(arg namespace)J6" link2="$(arg namespace)J3" reason="Never"/>
    <disable_collisions link1="$(arg namespace)J6" link2="$(arg namespace)J5" reason="Adjacent"/>
    <disable_collisions link1="$(arg namespace)J1" link2="$(arg namespace)J2" reason="Adjacent"/>
    <disable_collisions link1="$(arg namespace)J1" link2="$(arg namespace)base_link" reason="Adjacent"/>
    <disable_collisions link1="$(arg namespace)J2" link2="$(arg namespace)J3" reason="Adjacent"/>
    <disable_collisions link1="$(arg namespace)J3" link2="$(arg namespace)J4" reason="Adjacent"/> <disable_collisions link1="$(arg namespace)J3" link2="$(arg namespace)J5" reason="Never"/>
    <disable_collisions link1="$(arg namespace)J4" link2="$(arg namespace)J5" reason="Adjacent"/>
  
    <xacro:if value="${tool != 'none'}">
      <disable_collisions link1="$(arg namespace)J6" link2="$(arg namespace)tool_link" reason="Attached by fixed joint" />
    </xacro:if>

  </xacro:macro>
</robot>