<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro" name="$(arg model)">
   <xacro:arg name="tool" default="none"/>

   <xacro:arg name="model" default="denso_robot"/>
   
   <xacro:include filename="$(find denso_robot_descriptions)/robots/$(arg model)/urdf/denso_robot_macro.xacro"/>

   <xacro:arg name="namespace" default="" />
   <xacro:arg name="transmission_hw_interface" default=""/>
   <xacro:arg name="verbose" default="false" />
   <xacro:arg name="sim" default="false" />
   <xacro:arg name="ip_address" default="192.168.0.1" />
   <xacro:arg name="send_format" default="288" />
   <xacro:arg name="recv_format" default="292" />

   <xacro:denso_robot
     model="$(arg model)"
     namespace="$(arg namespace)"
     transmission_hw_interface="$(arg transmission_hw_interface)"
     sim="$(arg sim)"
     ip_address="$(arg ip_address)"
     verbose="$(arg verbose)"
     send_format="$(arg send_format)"
     recv_format="$(arg recv_format)" />

   <xacro:if value="${'$(arg tool)' == 'effecteur_v1'}">
     <link name="$(arg namespace)tool_link">
      <visual>
        <origin xyz="0 0 -0.207" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find denso_robot_descriptions)/robots/$(arg model)/meshes/EffecteurV1.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="grey">
          <color rgba="0.5 0.5 0.5 1.0"/>
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 -0.207" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find denso_robot_descriptions)/robots/$(arg model)/meshes/EffecteurV1.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
         <mass value="0.5" /> <origin xyz="0 0 0.1" rpy="0 0 0" /> <inertia ixx="0.001" ixy="0.0" ixz="0.0" iyy="0.001" iyz="0.0" izz="0.001" />
      </inertial>
     </link>

     <joint name="$(arg namespace)tool_joint" type="fixed">
      <parent link="$(arg namespace)J6" /> 
      <child link="$(arg namespace)tool_link" />
      <origin xyz="0 0 0.207" rpy="0 0 0" /> 
     </joint>
   </xacro:if>

   <xacro:if value="${'$(arg tool)' == 'effecteur_test'}">
     <link name="$(arg namespace)tool_link">
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" /> <geometry>
          <mesh filename="file://$(find denso_robot_descriptions)/robots/$(arg model)/meshes/EffecteurTest.STL" scale="0.001 0.001 0.001"/>
        </geometry>
        <material name="blue">
          <color rgba="0.0 0.0 0.8 1.0"/> </material>
      </visual>
      <collision>
        <origin xyz="0 0 0.0" rpy="0 0 0" /> <geometry>
          <mesh filename="file://$(find denso_robot_descriptions)/robots/$(arg model)/meshes/EffecteurTest.STL" scale="0.001 0.001 0.001"/>
        </geometry>
      </collision>
      <inertial>
         <mass value="0.8" /> 
         <origin xyz="0 0 0.05" rpy="0 0 0" /> 
         <inertia ixx="0.002" ixy="0.0" ixz="0.0" iyy="0.002" iyz="0.0" izz="0.002" />
      </inertial>
     </link>

     <joint name="$(arg namespace)tool_joint" type="fixed">
      <parent link="$(arg namespace)J6" /> 
      <child link="$(arg namespace)tool_link" />
      <origin xyz="0 0 0.0" rpy="0 0 0" /> </joint>
   </xacro:if>

</robot>