<?xml version="1.0"?>
<robot xmlns:xacro="http://wiki.ros.org/xacro">
  <xacro:property name="colour_staubli_ral_melon_yellow"   value="${255/255} ${155/255} ${  0/255} 1.0" />

  <xacro:property name="colour_staubli_ral_light_grey"     value="${197/255} ${199/255} ${196/255} 1.0" />

  <xacro:property name="colour_staubli_ral_telegrey_1"     value="${141/255} ${146/255} ${149/255} 1.0" />

  <xacro:property name="colour_staubli_ral_telegrey_4"     value="${200/255} ${200/255} ${199/255} 1.0" />

  <xacro:property name="colour_staubli_ral_grey_aluminium" value="${135/255} ${133/255} ${129/255} 1.0" />

  <xacro:property name="colour_staubli_ral_traffic_white"  value="${241/255} ${240/255} ${234/255} 1.0" />
</robot>
